@font-face{
  src: url('../src/fonts/Calibre-Regular.otf');
  font-family: 'calibre';
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #111111;
  width: 100%;
}

.App-title {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'calibre';
  font-size: calc(13px + 2vmin);
  background-color: #111111;
}

.App-link {
  color: #09d3ac;
}

.content-wrapper{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'calibre';
}

.wrapper-child{
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.child-column{
  background-color: #111111;
  font-size: calc(1em + 1vmin);
  display: flex;
  flex-direction: column;
  color: pink;
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin-top: 0;
  align-items: center;
}

.child-content{
  width: 100%;
}

.ig-image{
  opacity: 1;
  display: block;
  flex: 1;
  height: 90%;
  width: 90%;
}

.ig-overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eee;
  height: 90%;
  width: 0;
  top: 0;
  left: 0;

}

.ig-icon{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.insta-wrapper {
  background-color: '#111111'; 
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center;
}

.post-container {

  display: grid;
  position: relative;
  width: 190px;
  /* width: 23.5%; */
  margin-top: 0; 
  margin-left: 0; 
  margin-right: 0; 
  margin-bottom: 2;
  justify-content: center;
}

.post-container :after {
  display: block;
  padding-bottom: 100%;
}

.post-container:hover .ig-overlay{
  opacity: 0.7;
  width: 90%;
}
