.ig-image{
  opacity: 1;
  display: block;
}

.ig-overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eee;
  height: 90%;
  width: 0;
  top: 0;
  left: 0;

}

.ig-icon{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.insta-wrapper {
  background-color: '#111111'; 
  width: 100%;
}

.ig-gallery
.gallery-item{
    width: auto;
    margin: 0;
}

.ig-gallery {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
}


.post-container :after {
  display: block;
  padding-bottom: 100%;
}

.post-container:hover .ig-overlay{
  opacity: 0.7;
  width: 90%;
}
