.App {
  text-align: center;
  height: 100vh;
  background-color: #111111;
  width: 100%;
}

.App-title {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #111111;
}

.App-link {
  color: #09d3ac;
}

.App-description{
  background-color: #111111;
}

.content-wrapper{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}