.newsletter-container{
  flex: 1;
  width: 100%;
  /* background-color: red; */
  margin-top: 0px;
  max-height: 350px;
  overflow: clip;
}

.newsletter-form{
  min-height: 120px;
  min-width: 350px;
}

.img-newsletter {
    max-width: 550;
    max-height: 550px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-newsletter{
  margin: 30px;
  transform: scale(1.8);
}

.icon-link{
  color: white;
}

.newsletter-info{
  font-size: calc(12px + 1vmin);
}